@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model List<WTechCoreSample.Models.ORM.BlogPost>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Add Date</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Add Date</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Comments</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.AddDate</td>
                            <td><a href="/AdminBlog/UpdateBlogPost/@item.Id">Update</a></td>
                            <td><a href="/AdminBlog/PostDelete/@item.Id">Delete</a></td>
                            <td><a href="/AdminComment/Index/@item.Id">Go to Comments!</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Page level plugins -->
<script src="/admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/admin/js/demo/datatables-demo.js"></script>
