@model WTechCoreSample.Models.VM.AdminUserNewPassword

@{
    Layout = "~/Views/Shared/AdminLoginLayout.cshtml";
}

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>

                            @Html.ValidationSummary()

                            <form class="user" action="/AdminLogin/NewPassword" method="post">
                                <div class="form-group">
                                    ,

                                    @Html.PasswordFor(q => q.Password, new { @class = "form-control form-control-user", @placeholder = "New Password" })


                                </div>
                                <div class="form-group">

                                    @Html.PasswordFor(q => q.NewPassword, new { @class = "form-control form-control-user", @placeholder = "New Password Confirm" })

                                </div>

                                @Html.HiddenFor(q => q.AdminUserId)

                                <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
                                <hr>


                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="register.html">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
