@model WTechCoreSample.Models.ORM.WebUser



<div>
    <h1>Detail Page</h1>
    <div>
        <span>Name: @Model.Name</span>
    </div>

    <div>
        <span>Surname: @Model.SurName</span>
    </div>

    <div>
        <span>City: @Model.City</span>
    </div>
</div>